<% if @latest_budget.over? %>
<p class="red"> You have already hit your budget this month!</p>
<% elsif @latest_budget.almost_over? %>
<p class="orange"> Warning, you have almost reached your budget!</p>
<% end %>
<h2>Current Budget: <%= @latest_budget.amount %> </h2>
<h3>for <%= @date_today_compact %> </h3>
<p>Spent this month: <%= @total_spent %></p>

<form action="/budget" method="post">
  <input type="number" name="amount" step="0.01" min="0.01" value="<%= @latest_budget.amount %>" required>
  <input type="submit" value="Change budget for this month">
</form>


<table>
  <thead>
    <th colspan="4">
      Last Six Months
      </th>
    </thead>
    <tr>
 <th>Month</th>
 <th>Budget</th>
 <th>Money Spent</th>
 <th>Difference</th>
    </tr>
  <% for i in 0..5 %>
  <tr>
    <td>
    <%= @months[i] %>
  </td>
  <td>
    <%= @budgets[i].amount %>
  </td>
  <td>
    <%= @total_transactions[i] %>
  </td>
  <% @difference = (@budgets[i].amount -  @total_transactions[i]).round(2) %>
  <% if @difference >= 0 %>
  <% @color = 'green' %>
  <% else %>
  <% @color = 'red' %>
  <% end %>
  <td class=<%= @color %>>
    <%= @difference %>
  </td>
  </tr>
  <% end %>
</table>
